window{
  background-color: #92ddfa;
  background-image: linear-gradient(45deg, #1976c2, #92ddfa);
}

border{
  border-color: #2b2f63;
}

scale trough highlight {
  background-color: #003ec5;
  border-color: #003ec5;
}

spinbutton {
  border-color: #003ec5;
}

dialog{
  background-color: #92ddfa;
}

label{
  color: #000000;
  font-size: 16px;
  font-weight: normal;
}


.title1 label{
  color: #012c8a;
  font-weight: bolder;
  font-size: 18px;
}

.text1 label{
  color: #000000;
  font-size: 16px;
  font-weight: normal;
}
